{% extends 'base.html' %}
{% load static %} 
{% block title %} Корзина {%endblock title %} 
{% block content %}
<div class="untree_co-section before-footer-section">
  <div class="container">
    <div class="row mb-5">
      <form class="col-md-12" method="post">
        <div class="site-blocks-table">
          <table class="table">
            <thead>
              <tr>
                <th class="furniture-thumbnail">Изображение</th>
                <th class="furniture-name">Продукт</th>
                <th class="furniture-price">Цена</th>
                <th class="furniture-quantity">Количество</th>
                <th class="furniture-total">Итого</th>
                <th class="furniture-remove">Удалить</th>
              </tr>
            </thead>
            <tbody>
              {% for item in cart_items %}
              <tr>
                <td class="furniture-thumbnail">
                  <img
                    src="{{ item.furniture.image.url }}"
                    alt="Image"
                    class="img-fluid"
                    width="150px"
                  />
                </td>
                <td class="furniture-name">
                  <h2 class="h5 text-black">{{ item.furniture.name }}</h2>
                </td>
                <td>${{ item.furniture.price }}</td>
                <td>
                  <div
                    class="input-group mb-3 d-flex align-items-center quantity-container"
                    style="max-width: 120px"
                  >
                    <div class="input-group-prepend">
                      <a href="{% url 'decrease_quantity' item.id %}">
                        <button
                          class="btn btn-outline-black decrease"
                          type="button"
                        >
                          &minus;
                        </button>
                      </a>
                    </div>
                    <input
                      type="text"
                      class="form-control text-center quantity-amount"
                      value="{{ item.quantity }}"
                      placeholder=""
                      aria-label="Example text with button addon"
                      aria-describedby="button-addon1"
                    />
                    <div class="input-group-append">
                      <a href="{% url 'increase_quantity' item.id %}">
                        <button
                          class="btn btn-outline-black increase"
                          type="button"
                        >
                          &plus;
                        </button>
                      </a>
                    </div>
                  </div>
                </td>
                <td>${{ item.total_price }}</td>
                <td>
                  <a
                    href="{% url 'remove_from_cart' item.id  %}"
                    class="btn btn-black btn-sm"
                    >X</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row mb-5">
          <div class="col-md-6 mb-3 mb-md-0">
            <a href="{% url 'cart' %}">
              <button class="btn btn-black btn-sm btn-block">
                Обновить корзину
              </button>
            </a>
          </div>
          <div class="col-md-6">
            <a href="{% url 'shop' %}">
              <button class="btn btn-outline-black btn-sm btn-block">
                Продолжить покупки
              </button>
            </a>
          </div>
        </div>
        <form action="{% url 'apply_promo_code' redirect_url='cart' %}" method="post">
		  {% csrf_token %}
          <div class="row">
            <div class="col-md-12">
              <label class="text-black h4" for="coupon">Купон</label>
              <p>Введите ваш купон, если он у вас есть.</p>
            </div>
            <div class="col-md-8 mb-3 mb-md-0">
              <input
                type="text"
                class="form-control py-3"
                id="coupon"
				name="promo_code"
                placeholder="Код купона"
              />
            </div>
            <div class="col-md-4">
              <button class="btn btn-black">Применить купон</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6 pl-5">
        <div class="row justify-content-end">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-12 text-right border-bottom mb-5">
                <h3 class="text-black h4 text-uppercase">Итоги корзины</h3>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <span class="text-black">Промежуточный итог</span>
              </div>
              <div class="col-md-6 text-right">
                <strong class="text-black">${{ cart.total_intermediate_price }}</strong>
              </div>
            </div>
			{% if cart.coupon %}
			<div class="row mb-3">
				<div class="col-md-6">
				  <span class="text-black">Вы активировали купон</span>
				</div>
				<div class="col-md-6 text-right">
				  <strong class="text-black">{{ cart.coupon.code }}</strong>
				  <span class="text-black">Скидка {{ cart.coupon.discount }}%</span>
				</div>
			  </div>
			{% endif %}

            <div class="row mb-5">
              <div class="col-md-6">
                <span class="text-black">Итого</span>
              </div>
              <div class="col-md-6 text-right">
                <strong class="text-black">${{ cart.total_price }}</strong>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <button
                  class="btn btn-black btn-lg py-3 btn-block"
                  onclick="window.location='{% url 'checkout' %}'"
                >
                  Перейти к оформлению
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
