{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Start Register Section -->
        <div class="register">
            <div class="register-wrapper">
                <h2>Регистрация</h2>
                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <!-- Имя пользователя -->
                    <div class="form-group">
                        <label for="username">Имя пользователя:</label>
                        <input type="text" id="username" name="username" required placeholder="Введите имя пользователя">
                    </div>
                    <div class="form-group">
                        <label for="phone">Телефон:</label>
                        <input type="tel" id="phone" name="phone_number" required placeholder="Введите номер телефона">
                    </div>

                    <div class="form-group">
                        <label for="email">Электронная почта:</label>
                        <input type="email" id="email" name="email" required placeholder="Введите ваш email">
                    </div>

                    <div class="form-group">
                        <label for="password">Пароль:</label>
                        <input type="password" id="password" name="password1" required placeholder="Введите пароль">
                    </div>

                    <div class="form-group">
                        <label for="confirm-password">Повторите пароль:</label>
                        <input type="password" id="confirm-password" name="password2" required placeholder="Повторите пароль">
                    </div>

                    <button type="submit">Зарегистрироваться</button>
                </form>

                <div class="form-footer">
                    <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
                </div>
            </div>
        </div>
    <!-- End Register Section -->
{% endblock %}
